@media (max-width: 1280px) {
  :root {
    --h1-font: 2.8rem;
    --h2-font: 1.8rem;
    --h3-font: 1.4rem;
    --p-font: 1rem;
  }

  /* NAVIGATION BAR */
  .navigation-container {
    padding-inline: 40px;
  }

  .navigation-container #nav-menu li {
    gap: 28px;
  }
}

@media (max-width: 1160px) {
  :root {
    --h1-font: 2.5rem;
  }

  /* NAVIGATION BAR */
  .navigation-container #nav-menu {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0 0 10px 10px;
    width: 94%;
    overflow: hidden;
    z-index: -1;
    transition: 0.5s ease-in-out;
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.75);
  }

  .navigation-container #nav-menu {
    justify-content: center;
    text-align: center;
  }

  .navigation-container #nav-menu li {
    flex-direction: column;
    gap: 60px;
    padding-block: 80px;
  }

  .navigation-container #nav-menu li a {
    font-size: 1.3rem;
  }

  .header-button p {
    display: none;
  }

  .header-button .line-header {
    display: block;
    /* background-color: red; */
  }

  .header-button #hamburger-button {
    display: block;
  }

  /* FOOTER */
  .footer-content {
    gap: 15%;
  }
}

@media (max-width: 964px) {
  :root {
    --p-font: 1.1rem;
  }

  /* HOME */
  .home-container {
    flex-direction: column;
    text-align: center;
  }

  .home-img {
    order: -1;
  }

  .home-btn {
    justify-content: center;
  }

  /* FOOTER */
  .footer-content {
    flex-direction: column;
    gap: 50px;
  }

  .footer-copyright {
    flex-direction: column;
    text-align: center;
  }

  .footer-law {
    margin-top: 40px;
    justify-content: center;
  }
}

@media (max-width: 690px) {
  /* FOOTER */
  .navigation-container .footer-title {
    font-size: 1.2rem;
  }

  .footer-law {
    gap: 30px;
  }
}
